{% extends 'user/base.html' %} {% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="row mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form method="POST">
        <div class="form-group">
          <label for="exampleInputPassword1">Title</label>
          <input type="text" name="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Date</label>
          <input type="date" name="date" class="form-control" />
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        <a href="/notes" class="btn btn-warning btn-sm">List</a>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
{% endblock %}
