{% extends 'user/base.html' %} {% block title %}
  Notes
{% endblock %}
{% block css %}
  <style>
    form {
      display: inline;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="row mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-6 table-responsive">
      <div class="text-right">
        <a href="/note/create" class="btn btn-primary btn-sm">Create</a>
      </div>

      <table class="table table-bordered mt-3">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for note in user.notes %}
            <tr>
              <th scope="row">{{ note.id }}</th>
              <td>{{ note.text }}</td>
              <td>{{ note.date }}</td>
              <td>
                <a href="" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                <form action="/note/delete" method="POST">
                  <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                  <input type="hidden" name="id" value="{{ note.id }}" />
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-3"></div>
  </div>
{% endblock %}
