{% extends 'user/base.html' %} {% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="row mt-4">
    <div class="col-md-4" style="margin: 0%; padding:0%; text-align: center;">
      <h5>Flask Framework Boilerplate</h5>
    </div>
    <div class="col-md-4" style="margin: 0%; padding:0%; text-align: center;">
      <img src="{{ url_for('static', filename = 'img/flask.png') }}" />
    </div>
    <div class="col-md-4" style="margin: 0%; padding:0%; text-align: center;">
      <p>{{ session['userInfo']['name'] }}</p>
    </div>
  </div>
{% endblock %}
