{% extends 'user/base.html' %} {% block title %}
  Login
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'log-reg/css/style.css') }} " />
{% endblock %}

{% block content %}
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure>
            <img src="{{ url_for('static', filename = 'log-reg/images/signin-image.jpg') }}"/>
          </figure>
          <a href="/signup" class="signup-image-link">Create an account</a>
        </div>

        <div class="signin-form">
          <h2 class="form-title">Sign in</h2>
          <form method="POST" class="register-form" id="login-form">
            <div class="form-group">
              <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="email" id="your_name" placeholder="Email" />
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </div>
            <div class="form-group">
              <label for="password"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" name="password" id="password" placeholder="Password" />
            </div>
            <div class="form-group form-button">
              <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename = 'log-reg/js/main.js') }}"></script>
{% endblock %}
