{% extends 'user/base.html' %} {% block title %}
  Sign up
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'log-reg/css/style.css') }} " />
{% endblock %}

{% block content %}
  <!-- Sign up form -->
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title">Sign up</h2>
          <form method="POST" class="register-form" id="register-form">
            <div class="form-group">
              <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" name="name" id="name" placeholder="Name" />
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </div>
            <div class="form-group">
              <label for="email"><i class="zmdi zmdi-email"></i></label>
              <input type="email" name="email" id="email" placeholder=" Email" />
            </div>
            <div class="form-group">
              <label for="pass"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" name="password" id="pass" placeholder="Password" />
            </div>
            <div class="form-group">
              <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
              <input type="password" name="confirm_password" id="re_pass" placeholder="Confirm password" />
            </div>
            <div class="form-group form-button">
              <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
            </div>
          </form>
        </div>
        <div class="signup-image">
          <figure>
            <img src="{{ url_for('static', filename = 'log-reg/images/signup-image.jpg') }} " alt="sing up image" />
          </figure>
          <a href="/login" class="signup-image-link">I am already member</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename = 'log-reg/js/main.js') }}"></script>
{% endblock %}
